
<header>
  <h1 class="site-heading text-center text-faded d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Books train your imagination to think big!</span>
      <span class="site-heading-lower">Welcome to your Library</span>
  </h1>
</header>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
      <a class="navbar-brand text-uppercase fw-bold d-lg-none"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" routerLink ="/home">Home</a></li>
              <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" routerLink ="/books" >Books</a></li>
              <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" routerLink ="/students">Students</a></li>
              <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" routerLink ="/accounts" >Admin Accounts</a></li>
              <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" routerLink ="/login" >Login</a></li>
          </ul>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>
<footer class="footer text-faded text-center py-5">
  <div class="container"><p class="m-0 small">Ghofrane Amaimi _ Ghassene Bouachir</p></div>
</footer>
